/* Modal mobile  */

@media only screen and (min-width: 768px) {
    .modal-info-container {
        width: auto !important;
    }
}
@media only screen and (max-width: 768px) {
    .list-container {
        width: auto;
    }
    .img-container {
        display: none;
    }

    .modal-info-container .title {
        font-size: 1.1em;
    }

    .close-button{
        position: fixed;
    }


    /* Indicador de apis */


    .apis-container {
        height: 50px;
        bottom: 5px;
    }

    .apis-container ul li img {
        height: 35px;
    }

    .apis-container ul li p.title{
        display: none;
    }

    .apis-container ul li .apis-description {
        max-width: 150px;
    }

    .logo-link {
        justify-content: flex-start;
        margin-left: 20px;
    }


}
