p{
    font-size: 15px;
    margin: .5em;
}

/*     -------- modal info -------   */

.modal-info-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.modal-info-container p{
    font-family: 'Maven Pro', sans-serif;
    font-size: 1em;
    color: #5a5a5a;
}

.modal-info-container .title{
    text-align: center;
    color: #4ca2fa;
    margin: -40px auto 0;
    background-color: #ffffff;
    padding: 20px;
    font-size: 1.2em;
    font-weight: 500;
    max-width: 410px;
}

.modal-info {
    background-color: #ffffff;
    width: 100%;
    max-width: 750px;
    min-width: 500px;
    border-radius: 14px;
    padding: 10px 30px 30px;
    box-sizing: border-box;
    position: relative;
    display: none;
    margin: 50px 10px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    max-height: 525px;
}

.border-container{
    border: 2px solid #4ca2fa;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0 40px 40px;
    align-items: center;
    z-index: -1;
}


.border-content{
    display: flex;
}
.list-container{
    width: 75%;
}

li{
    display: flex;
}

li .base-text{
    font-weight: 500;
}

.border-content .list-container ul li::before {
    content: "\2022";
    color: #4ca2fa;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.img-container {
    display: flex;
    width: 25%;
    justify-content: center;
}
.img-container img {
    width: 80%;
}


.logo {
    margin-bottom: -17px;
    transform: translateY(-17px);
    background: #ffffff;
    padding: 0 10px;
}

.logo img{
    height:30px;
}


.close-button{
    position: absolute;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    right: 20px;
    border-radius: 40px;
    display: flex;
    top: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 15px -10px rgba(0,0,0,0.75);
    cursor: pointer;
}
p.close-button-content{
    transform: rotateZ(45deg) translateY(-2px);
    font-size: 2.5em;
    color: #6d6d6d;
}


.overlay{
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    display: none;
}

::-webkit-scrollbar {
    width: 15px;

}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 10px;
    width: 3px;
    border: 5px solid white;
}


/*     -------- modal mobile -------   */


.modal-mobile-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modal-mobile{
    background-color: #ffffff;
    width: 180px;
    border-radius: 14px;
    padding: 30px 25px 30px;
    box-sizing: border-box;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: 220px;
    display: none;
    z-index: 2;
}

.modal-mobile p{
    text-align: center;
    margin-bottom: 20px;
}

.modal-mobile img{
    height: 70px;
    animation: girar 3s;
    animation-iteration-count: infinite;
}

@keyframes girar {
    0% {opacity: 1;}
    75% {transform: rotate(90deg); opacity: 1;}
    99% {transform: rotate(90deg); opacity: 0;}
    100% {opacity: 0;}
}

.overlay-mobile{
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100vh;
    z-index: 0;
    position: absolute;
    display: none;
}

/*  ocultar y mostrar con script ----------- */


.show{
    display: flex;
    animation: appear 1s;
    animation-fill-mode: forwards;
}

.dark{
    opacity: .5;
    transition: opacity .5s;
    cursor: initial;
}

.desappear{
    display: flex;
    animation: desappear 1s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes desappear {
    0% {opacity: 1;}
    100% {opacity: 0;}
}